$grey: rgba(0, 0, 0, 0.164);
$secondary-grey: rgba(0, 0, 0, 0.575);
$background-grey: rgba(0, 0, 0, 0.014);
$blue: rgb(72, 133, 237);
$white: rgb(255, 255, 255);
$border-type: 1px solid $grey;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: $background-grey;
}

%flex-display {
  display: flex;
}

%flex-display-col {
  @extend %flex-display;
  flex-direction: column;
}

%flex-center {
  justify-content: center;
  align-items: center;
}

%text-area {
  resize: none;
  width: 100%;
  height: 200px;
  border: none;
  border-top: $border-type;
  border-bottom: $border-type;
  padding: 15px;

  &:focus {
    outline: none !important;
    border: none;
    border-top: $border-type;
    border-bottom: $border-type;
  }
}

%slide {
  position: fixed;
  width: 40%;
  height: 100vh;
  top: 0;
  right: 0;
  transition: 1s ease;
  transform: translateX(100%);
  overflow-y: auto;
}

%icon-button {
  @extend %flex-display;
  @extend %flex-center;
  background-color: $white;
  border: $border-type;
  border-radius: 50%;
  padding: 15px;
}