$grey: rgba(0, 0, 0, 0.871);
$blue: rgb(0, 146, 201);
$white: rgb(255, 255, 255);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

%flex-display {
  display: flex;
}

%flex-display-col {
  @extend %flex-display;
  flex-direction: column;
}

%flex-center {
  justify-content: center;
  align-items: center;
}
