@import 'utilities';

.app {
  @extend %flex-display-col;
  @extend %flex-center;
}

.textarea-container {
  @extend %flex-display-col;
  @extend %flex-center;
  width: 100%;
}

textarea {
  @extend %text-area
}

.english-container,
.turkish-container {
  width: 100%;
}

.english-container {
  position: relative;

  button {
    position: absolute;
    right: 5%;
    bottom: 10%;
  }
}