@import 'utilities';

.app {
  @extend %flex-display-col;
  @extend %flex-center;

  h1 {
    margin: 15px;
    font-size: 1.4rem;
    color: $secondary-grey;
  }
}

.textarea-container {
  @extend %flex-display-col;
  @extend %flex-center;
  width: 100%;
}

.text-area {
  @extend %text-area;
}

.turkish-text-area {
  @extend %text-area;
  pointer-events: none;
  color: $white;
  background-color: $blue;
}

.english-container,
.turkish-container {
  width: 100%;
}

.english-container {
  position: relative;
  margin-bottom: -5px;

  button {
    position: absolute;
    right: 5%;
    bottom: 10%;
  }
}

.history-container {
  @extend %slide;
  border-left: $border-type;
  padding: 15px 10px;
  background-color: $white;

  h2 {
    font-size: 1.4rem;
    border-bottom: $border-type;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  ul {
    li {
      list-style: none;
      padding: 5px 0;
      margin: 10px 0;
      border-bottom: $border-type;
    }
  }

  .english-result {
    font-size: 1.15rem;
    margin-bottom: 3px;
  }

  .turkish-result {
    color: $secondary-grey;
  }
}

.show {
  transform: translateX(0);
}

button {
  @extend %icon-button;
}

.history-button {
  margin-top: 40px;
}
