@import 'utilities';

.app {
  @extend %flex-display-col;
  @extend %flex-center;

  h1 {
    margin: 15px;
    font-size: 1.4rem;
    color: $secondary-grey;
  }
}

.textarea-container {
  @extend %flex-display-col;
  @extend %flex-center;

  width: 100%;

  @include breakpoints(1080px) {
    @extend %flex-display;

    flex-direction: row !important;
    width: 90%;
  }
}

.text-area {
  @extend %text-area;

  @include breakpoints(1080px) {
    border: 1px solid $grey;
  }

  &:focus {
    border: $border-type;
  }
}

.turkish-text-area {
  @extend %text-area;

  pointer-events: none;
  color: $white;
  background-color: $blue;

  @include breakpoints(1080px) {
    background-color: $background-grey;
    color: $black;
    border: $border-type;
  }
}

button {
  @extend %icon-button;
}

.english-container,
.turkish-container {
  width: 100%;
}

.english-container {
  position: relative;
  margin-bottom: -5px;

  button {
    position: absolute;
    right: 5%;
    bottom: 10%;
  }

  @include breakpoints(1080px) {
    margin-right: 25px;
    margin-bottom: 0;
  }
}

.turkish-container {
  @include breakpoints(1080px) {
    margin-left: 25px;
  }
}

.history-container {
  @extend %slide;

  border-left: $border-type;
  padding: 15px 10px;
  background-color: $white;

  h2 {
    font-size: 1.4rem;
    border-bottom: $border-type;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  ul {
    li {
      list-style: none;
      padding: 5px 0;
      margin: 10px 0;
      border-bottom: $border-type;
    }
  }

  .english-result {
    font-size: 1.15rem;
    margin-bottom: 3px;
  }

  .turkish-result {
    color: $secondary-grey;
  }
}

.show {
  transform: translateX(0);
}

.history-button {
  margin-top: 40px;
}

.hide {
  display: none;

  @include breakpoints(1080px) {
    display: block;
  }
}
